@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/*
=============== 
Variables
===============
*/

:root {
  /* primary/secondary color */
  --clr-primary: #4d2687;
  --clr-primary-dark: #361b5f;
  --clr-secondary: #188731;
  --clr-secondary-light: #2f9346;
  --clr-typo: #e1e1e1;
  --clr-form-icon: #5dab6f;
  --clr-form-input: #271344;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
  --clr-orange-1: hsl(12, 83%, 98%);
  --clr-orange-2: hsl(14, 91%, 95%);
  --clr-orange-3: hsl(12, 89%, 89%);
  --clr-orange-4: hsl(13, 87%, 82%);
  --clr-orange-5: hsl(13, 88%, 68%);
  --clr-orange-6: hsl(13, 88%, 55%);
  --clr-orange-7: hsl(13, 74%, 49%);
  --clr-orange-8: hsl(13, 74%, 33%);
  --clr-orange-9: hsl(13, 73%, 25%);
  --clr-orange-10: hsl(13, 73%, 16%);
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-primary);
  color: var(--clr-typo);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2rem;
  color: var(--clr-secondary);
}
h3 {
  font-size: 1.1rem;
}
h4 {
  font-size: 1.1rem;
  color: var(--clr-secondary);
}
p {
  font-size: 1rem;
  margin-bottom: 1.25rem;
  color: var(--clr-typo);
  text-align: justify;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4.188rem;
  }
  h2 {
    font-size: 2.313rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.313rem;
  }
  p {
    font-size: 1.313rem;
    
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */
.page {
  margin-left: 120px;
  height: 100%;
}

/* section */
.section{
  margin-left: 100px;
  padding-top: 80px;
  padding-right: 50px;
}




